#nav-bar 
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right, #a517ba , #5f1782 );
    padding: 0 !important;
    color: red !important;
    z-index: 20;
}

.foot
{
    background-image: linear-gradient(to right, #a517ba , #5f1782 );
    padding: 0 !important;
    color: red !important;
    z-index: 20;
}

.khao
{
    padding-top: 10%;
    padding-bottom: 5%;
}

.banana
{
    background-image: linear-gradient(to right, #a517ba , #5f1782 );
    padding: 0;
    margin: 0;
    padding-top: 5%;
}

.wa
{
    width: 100%;
}

.titl::before
{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.titl::after
{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(-3px);
}

.daba 
{
    border-left: 4px solid #7b1798;
}

.usr
{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.about-us
{
    margin-top: 3%;
    padding: 1%;
    background-color: #f4f9f8;
}

.social
{
    margin-top: 3%;
    padding: 1%;
    background-color: #f4f9f8;
}
